.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 34.75px;
    border-bottom: 1px solid #272d2b;

}

.name {
    color: white;
    font-size: 45px;
    font-family: Mazius;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word;
    line-height: normal;
}

.navigation {
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    a {
        color: #FFF;
        font-family: Neutral;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.buttonHeader {
    border-radius: 41px;
    background: #2F3634;
    padding: 8px 28px;
}

.hero {
    width: 63vw;
    height: 182px;
    margin: 165px auto;
    padding: 95px;
    background-color: #fff;
    border-radius: 41px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroText {

    h1 {
        color: #0E1010;
        font-family: Mazius-italic;
        font-size: 36px;
        font-weight: 400;
    }

    p {
        color: #000;
        font-family: Avenir-light;
        font-size: 20px;
        line-height: 130%;
    }
}

.heroFooter {
    justify-content: space-between;
    align-items: center;

    img {
        margin-right: 20px;
    }

    .button {
        margin-left: 20px;
    }
}

.flex {
    display: flex;
    flex-direction: row;
}

.button {
    text-transform: capitalize;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 10px;
    border-radius: 74px;
    background-color: #2f3634;
    color: #fff;
    line-height: normal;
    font-family: Neutral-bold;
    font-size: 14px;
}

.buttonInverted {
    background-color: #fff;
    border: 1px solid #4f5b58;
    color: #272d2b;
}

.about {
    color: #fff;
    font-family: Mazius-italic;
    font-weight: 400;
    margin: 330px auto;
    width: 50vw;
    justify-content: space-between;


    div {
        width: 37vw;
        font-family: Avenir-light;
        font-size: 20px;
        margin-top: 17px;
    }
}

.interests {
    width: 77vw;
    margin: 0 auto 280px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topicIntro {
    h2 {
        font-family: Mazius-italic;
        font-size: 36px;
        margin-bottom: 23px;
    }

    p {
        font-family: Avenir-light;
        margin-bottom: 45px;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
        width: 25vw;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 25px;
        background: #272D2B;
        box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        font-family: Mazius;
    }
}

.projects {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 180px;
}

.maziusItalic {
    color: #FFF;
    text-align: center;
    font-family: Mazius-italic;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.avenirNormal {
    color: #FFF;
    text-align: center;
    font-family: Avenir-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 240px auto;
    width: 70vw;
    
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 35vw;
    }

    input {
        width: 16vw;
        padding: 7px;
        border-radius: 41px;
        border: none;
        outline: none;
        margin-bottom: 15px;
    }

    textarea {
        width: 35vw;
        outline: none;
        border-radius: 15px;
        padding: 7px;
        margin-bottom: 15px;
        resize: none;
        height: 80px;
    }

    button {
        width: 35vw;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 165px;
    border-top: 1px solid #272D2B;

    .navigation {
        margin: 36px 0;
    }
}